/* style.css */

/*https://github.com/mikeizbicki/cmc-csci040 */

p {
	color: rgb(255,0,0);
}

p:first-of-type {
	color: green;
	/*background: lightblue;*/
}

li {
	color:blue;
}

ol.menu {
	padding: 0px;
}

li.menu {
	list-style-type: none;
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
	margin-left: 0px;
	height:30px;
	width: 150px;
}

li.menu:hover {
	background: lightblue;
}

.mydiv {
	/*background: lightblue;*/
}

div.menu {
	float: left;
	background: orange;
	margin: 0px;
}

#title {
	background: red;
	margin: 0px;
	text-align: center;
}

.contents {
	background: lightgreen;
	margin: 0px;
}

h1 {
	padding: 0px;
}

span.harry {
	font-size:20px;
}