<html>
    <head>
        <title>This is my Twitter clone for CS40!</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>This is my Twitter clone for CS40!</h1>
        {% block title %}
        {% endblock %}
        <ul>
            <li><a href='/'>visit the root</a></li>
            {% if username %}
            <li><a href='/logout'>logout</a></li>
            {% else %}
            <li><a href='/login'>login</a></li>
            {% endif %}
            <li><a href='/create_message'>create message</a></li>
            <li><a href='/create_account'>create account</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>
