{% extends 'base.html' %}
{% block title %}
        <h2>Homepage</h2>
{% endblock %}

{% block content %}
        {% if username %}
        You are logged in as: {{username}}
        {% endif %}
        
        <table>
            <tr><td>message id</td><td>username</td><td>message</td></tr>
        {% for message in messages %}
        <tr><td>{{message.id}}</td><td> {{message.username}} </td><td>{{ message.text }}</td><td>{% if username==message.username %}<a href='/delete_message/{{message.id}}'>delete message</a>{% endif %}</td></tr>
        {% endfor %}
        </table>
{% endblock %}