[submodule "topic_05_Python_FileManipulation/lab-encodings"]
	path = topic_05_Python_FileManipulation/lab-encodings
	url = https://github.com/mikeizbicki/lab-encodings/
[submodule "topic_06_Python_Exceptions/lab-password-cracking"]
	path = topic_06_Python_Exceptions/lab-password-cracking
	url = https://github.com/mikeizbicki/lab-password-cracking
