[submodule "topic_05_Python_FileManipulation/lab-encodings"]
	path = topic_03_Python_Strings+Files/img/notes/lab-encodings
	url = https://github.com/mikeizbicki/lab-encodings/
[submodule "topic_02_Python/example-doctests"]
	path = topic_02_Python/example-doctests
	url = https://github.com/mikeizbicki/example-doctests
[submodule "topic_02_Python/lab-doctests"]
	path = topic_02_Python/lab-doctests
	url = https://github.com/mikeizbicki/lab-doctests
[submodule "topic_03_Python_Strings+Files/lab-youtube-download"]
	path = topic_03_Python_Strings+Files/lab-youtube-download
	url = https://github.com/mikeizbicki/lab-youtube-download
[submodule "topic_03_Python_Strings+Files/lab-encodings"]
	path = topic_03_Python_Strings+Files/lab-encodings
	url = https://github.com/mikeizbicki/lab-encodings
[submodule "project_01_markdown_compiler"]
	path = project_01_markdown_compiler
	url = https://github.com/mikeizbicki/markdown-compiler
[submodule "topic_04_Python_Exceptions/lab-password-cracking"]
	path = topic_04_Python_Exceptions/lab-password-cracking
	url = https://github.com/mikeizbicki/lab-password-cracking
[submodule "topic_04_Python_Exceptions/lab-cowsay"]
	path = topic_04_Python_Exceptions/lab-cowsay
	url = https://github.com/mikeizbicki/lab-cowsay
[submodule "topic_07_Python_OOP/pullrequest-tutorial"]
	path = topic_07_Python_OOP/pullrequest-tutorial
	url = https://github.com/mikeizbicki/pullrequest-tutorial
[submodule "how-internet-works"]
	path = how-internet-works
	url = https://github.com/mikeizbicki/how-internet-works
[submodule "topic_09_Python_LLMs/lab-more-project-setup"]
	path = topic_09_Python_LLMs/lab-more-project-setup
	url = https://github.com/mikeizbicki/lab-more-project-setup
[submodule "topic_12_SQL/lab-fastapi"]
	path = topic_12_SQL/lab-fastapi
	url = https://github.com/mikeizbicki/lab-fastapi
