<p>
    This file ends in .html, but it's not an html file!!!
Recall, in muggle world (but especially the Windows world) file extensions are important.
For our purposes file extensions mean nothing.

Technically, these files are written in the Jinja2 "templating language".
This is a language designed just for Flask.
A templating language is very similar to Markup language (HTML/Markdown),
but its more powerful => allows us to incorporate variables and for loops.

This is <b>users.html</b>

Curly braces => jinja2 specific functionality
</p>

<p>
    username = {{username}}
<p>

    {% for user in users %}
<P>
user = {{user}}
</p>
    {% endfor %}
