
p {
    /*background-color: white;*/
}

body {
    /*color: red;*/
    background-color: gray;
    width: 1000px; /* many units for width */
}

h1 {
    text-align: center;
}

ol {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 21%;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
}

span.webpage{
    color: #89703e;
}

div.pdivclass {
    color: red;
}

/* part after # is called the id */
a#myid {
    color: black;
}

/* menu is a class or "true class" */
a.menu {
    color: white;
}

/* :hover is a pseudo-class */
li:hover {
    background-color: cyan;
    color: red;
}

/*
lines 1-3 are a "CSS block"

css_selector {
    property: value;
    property: value;
    property: value;
    property: value;
}

class/id attributes to set properties of only certain tags

this is a comment and is ignored
*/