{% extends 'base.html' %}

{% block title %}
<h2>Home</h2>
{% endblock %}

{% block content %}
<table border=1 cellpadding=5>
    <tr><th>sender (age)</th><th>message</th><th>created_at</th></tr>
    
    <tr>
        <td>Kristen (None)</td>
        <td>WTF is SQL?!  I thought you liked the snake thing.</td>
        <td>2021-12-02 00:41:10</td>
    </tr>
    <tr>
        <td>Mike (35)</td>
        <td>SQL is the best!!</td>
        <td>2021-12-02 00:41:10</td>
    </tr>
</table>
{% endblock %}

