{% extends 'base.html' %}

{% block title %}
<h2>Login</h2>
{% endblock %}

{% block content %}

{% if display_error %}
<p style='color:red;'>Invalid username/password.</p>
{% endif %}

<form action=/login method=POST>
    <table>
        <tr><td>username</td><td><input name=username></td></tr>
        <tr><td>password</td><td><input name=password></td></tr>
        <tr><td></td><td><input type=submit value='log in'></td></tr>
    </table>
</form>

<p>
If you don't have a user account, then <a href=/create_user>create one</a>.
</p>
{% endblock %}

